**/bin/
**/obj/
**/node_modules/
**/dist/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/.azure/
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
**/.env
**/.env.*
!**/.env.sample
**/Dockerfile*
**/.dockerignore
README.md
specs/
.specify/
